Source: rootintootin
Section: devel
Priority: extra
Maintainer: Matthew Brennan Jones <mattjones@workhorsy.org>
Build-Depends: cdbs
Standards-Version: 3.8.1
Homepage: http://rootin.toot.in

Package: rootintootin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
	mysql-client, mysql-server, libmysqlclient16-dev, 
	python-mysqldb, python-pexpect, python-mako, build-essential, 
	ldc, libtango-ldc-dev, libpcre3, libpcre3-dev, inotify-tools

Description: A web framework and server this is written in D
Rootin Tootin is a fast RESTful MVC web framework that is written in D. It is 
 designed to scale well by default, while still providing a developer experience 
 similar to Ruby on Rails.
